body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%
}

.site-header {
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: white;
  padding: 1em 2em;
  width: 100%;

}

nav .nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2em;
}

.products, .data-visualization {
  margin: 1em;
  padding: 1em;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 1em 0;
  margin-top: auto;
}

.insight-view-container, .insight-view-visualization {
  width: 100%;
  height: 400px;
}

/* Responsive styles */
@media (max-width: 899px) {

  .nav-link {
    margin: 0.5em 0;
  }

  .product-list {
    flex-direction: column;
    align-content: center;
    width: 100%;
    display: flex;
  }

  .product-item {
    margin-right: 0.5em;
    align-self: center;
    align-content: center;
  }
}

@media (min-width: 900px) {
  nav {
    flex-direction: row;
  }

  .nav-link {
    margin: 0.5em 0;
  }

  .product-list {
    flex-direction: row;
    display: flex;
  }

  .product-item {
    width: 30%;
    margin-right: 0.5em;
    align-self: center;
    align-content: center;
    display:flex;
    flex-direction: column;
  }
}
